<?xml version="1.0"?>
<config>
	<modules>
		<SmartLap_Createcate>
			<version>0.1.3</version>
		</SmartLap_Createcate>
	</modules>
	<frontend>
		<routers>
			<createcate>
                <use>standard</use>
                <args>
                    <module>SmartLap_Createcate</module>
                    <frontName>createcate</frontName>
                </args>
            </createcate>
		</routers>
	</frontend>
	<global>
		<models>
			<createcate>
				<class>SmartLap_Createcate_Model</class>
				<resourceModel>createcate_resource</resourceModel>
			</createcate>
			<create_resource>
				<class>SmartLap_Createcate_Model_Resource</class>
			</create_resource>
		</models>
		<resources>
            <createcate_setup>
                <setup>
                    <module>SmartLap_Createcate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </createcate_setup>
            <createcate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </createcate_write>
            <createcate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </createcate_read>
        </resources>
	</global>
</config>