<?xml version="1.0"?>

<config>
    <modules>
        <SmartLab_ProductType>
            <version>0.1.1</version>
        </SmartLab_ProductType>
    </modules>

    <frontend>
        <events>
            <sales_quote_add_item>
                <observers>
                    <producttype_observer_catalog_product_type_prepare>
                        <class>SmartLab_ProductType_Model_Observer</class>
                        <method>hookIntoCatalogProductTypePrepare</method>
                    </producttype_observer_catalog_product_type_prepare>
                </observers>
            </sales_quote_add_item>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <producttype_product_type_prepare_full>
                        <class>SmartLab_ProductType_Model_Observer</class>
                        <method>hookIntoFullPrepare</method>
                    </producttype_product_type_prepare_full>
                </observers>
            </catalog_product_type_prepare_full_options>
            <checkout_onepage_controller_success_action>
                <observers>
                    <producttype_checkout>
                        <class>SmartLab_ProductType_Model_Observer</class>
                        <method>hookIntoCheckoutSuccess</method>
                    </producttype_checkout>
                </observers>
            </checkout_onepage_controller_success_action>
             <catalog_controller_product_view>
                <observers>
                    <producttype_loadproduct>
                        <class>SmartLab_ProductType_Model_Observer</class>
                        <method>hookIntoGetFinalPrice</method>
                    </producttype_loadproduct>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

    <admin>
        <routers>
            <producttypeadmin>
                <use>admin</use>
                <args>
                    <module>SmartLab_ProductType</module>
                    <frontName>producttypeadmin</frontName>
                </args>
            </producttypeadmin>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <producttype>
                    <file>producttype.xml</file>
                </producttype>
            </updates>
        </layout>
    </adminhtml>   
    
    <global>
        <models>
            <producttype>
				<class>SmartLab_ProductType_Model</class>	
                <resourceModel>producttype_resource</resourceModel>	
            </producttype>
            <producttype_resource>
                <class>SmartLab_ProductType_Model_Resource</class>
                <entities>
                    <digcode>
                        <table>digcode</table>
                    </digcode>
                </entities>
            </producttype_resource>
        </models> 

        <helpers>
            <producttype>
                <class>SmartLab_ProductType_Helper</class>
            </producttype>
        </helpers>   
        
        <resources>
            <producttype_setup>
                <setup>
                    <module>SmartLab_ProductType</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </producttype_setup>
            <producttype_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </producttype_write>
            <producttype_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </producttype_read>
		</resources>        
        
        <catalog>
            <product>
                <type>
                    <digcerti translate="label" module="catalog">
                        <label>Digital Certification</label>
                        <model>producttype/product_type_digcerti</model>
                        <is_qty>1</is_qty>
                        <index_data_retreiver>producttype/catalogIndex_data_digcerti</index_data_retreiver>
                        <price_model>producttype/product_price</price_model>
                    </digcerti>
                </type>
			</product>        
        </catalog>

        <blocks>
            <producttype>
                <class>SmartLab_ProductType_Block</class>
            </producttype>
        </blocks>
	</global>  
	
	<adminhtml>
		<events>
			<catalog_product_new_action>
			    <observers>
			        <producttype_observer_catalog_product_new_action>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductNewAction</method>
			        </producttype_observer_catalog_product_new_action>
			    </observers>
			</catalog_product_new_action>
			<catalog_product_edit_action>
			    <observers>
			        <producttype_observer_catalog_product_edit_action>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductEditAction</method>
			        </producttype_observer_catalog_product_edit_action>
			    </observers>
			</catalog_product_edit_action>			
            <catalog_product_prepare_save>
                <observers>
                	<producttype_observer_catalog_product_prepare_save>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductPrepareSave</method>
			        </producttype_observer_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_delete_before>
                <observers>
                	<producttype_observer_catalog_product_delete_before>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductDeleteBefore</method>
			        </producttype_observer_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>            
            <catalog_product_save_after>
                <observers>
                	<producttype_observer_catalog_product_save_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductSaveAfter</method>
			        </producttype_observer_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_status_update>
                <observers>
                	<producttype_observer_catalog_product_status_update>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductStatusUpdate</method>
			        </producttype_observer_catalog_product_status_update>
                </observers>
            </catalog_product_status_update>            
            
            
            <sales_order_item_save_after>
                <observers>
                	<producttype_observer_sales_order_item_save_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoSalesOrderItemSaveAfter</method>
			        </producttype_observer_sales_order_item_save_after>
                </observers>
            </sales_order_item_save_after>
            <sales_order_save_before>
                <observers>
                	<producttype_observer_sales_order_save_before>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoSalesOrderSaveBefore</method>
			        </producttype_observer_sales_order_save_before>
                </observers>
            </sales_order_save_before>            
            <sales_order_save_after>
                <observers>
                	<producttype_observer_sales_order_save_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoSalesOrderSaveAfter</method>
			        </producttype_observer_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <catalogrule_before_apply>
                <observers>
                	<producttype_observer_catalogrule_before_apply>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogruleBeforeApply</method>
			        </producttype_observer_catalogrule_before_apply>
                </observers>
            </catalogrule_before_apply>
            <catalogrule_after_apply>
                <observers>
                	<producttype_observer_catalogrule_after_apply>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogruleAfterApply</method>
			        </producttype_observer_catalogrule_after_apply>
                </observers>
            </catalogrule_after_apply>
            <catalog_entity_attribute_save_after>
                <observers>
                	<producttype_observer_catalog_entity_attribute_save_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogEntityAttributeSaveAfter</method>
			        </producttype_observer_catalog_entity_attribute_save_after>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_delete_after_done>
                <observers>
                	<producttype_observer_catalog_product_delete_after_done>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductDeleteAfterDone</method>
			        </producttype_observer_catalog_product_delete_after_done>
                </observers>
            </catalog_product_delete_after_done>

            <customer_login>
                <observers>
                	<producttype_observer_customer_login>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCustomerLogin</method>
			        </producttype_observer_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                	<producttype_observer_customer_logout>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCustomerLogout</method>
			        </producttype_observer_customer_logout>
                </observers>
            </customer_logout>
            <sales_quote_save_after>
                <observers>
                	<producttype_observer_sales_quote_save_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoSalesQuoteSaveAfter</method>
			        </producttype_observer_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <catalog_product_collection_load_after>
                <observers>
                	<producttype_observer_catalog_product_collection_load_after>
			            <type>singleton</type>
			            <class>producttype/observer</class>
			            <method>hookIntoCatalogProductCollectionLoadAfter</method>
			        </producttype_observer_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
		</events>
	</adminhtml>
	  
</config>
