<?xml version="1.0"?>
<config>
	<modules>
		<SmartLab_AddAttribute>
			<version>0.1.2</version>
		</SmartLab_AddAttribute>
	</modules>
	<frontend>
		<routers>
			<addattribute>
                <use>standard</use>
                <args>
                    <module>SmartLab_AddAttribute</module>
                    <frontName>addattribute</frontName>
                </args>
            </addattribute>
		</routers>
	</frontend>
	<global>
		<models>
			<addattribute>
				<class>SmartLab_AddAttribute_Model</class>
				<resourceModel>addattribute_resource</resourceModel>
			</addattribute>
			<addattribute_resource>
				<class>SmartLab_AddAttribute_Model_Resource</class>
			</addattribute_resource>
		</models>
		<resources>
            <addattribute_setup>
                <setup>
                    <module>SmartLab_AddAttribute</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addattribute_setup>
            <addattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addattribute_write>
            <addattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addattribute_read>
        </resources>
	</global>
</config>