<?xml version="1.0"?>
<config>
    <modules>
        <SmartLab_Readrss>
            <version>0.1.0</version>
        </SmartLab_Readrss>
    </modules>
    <frontend>
        <routers>
            <readrss>
                <use>standard</use>
                <args>
                    <module>SmartLab_Readrss</module>
                    <frontName>readrss</frontName>
                </args>
            </readrss>
        </routers>
        <layout>
            <updates>
                <readrss>
                    <file>readrss.xml</file>
                </readrss>
            </updates>
        </layout>
		<translate>
            <modules>
                <SmartLab_Readrss>
                    <files>
                        <default>SmartLab_Readrss.csv</default>
                    </files>
                </SmartLab_Readrss>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <readrss>
                <class>SmartLab_Readrss_Model</class>
            </readrss>
        </models>
        <blocks>
            <readrss>
                <class>SmartLab_Readrss_Block</class>
            </readrss>
        </blocks>
        <helpers>
            <readrss>
                <class>SmartLab_Readrss_Helper</class>
            </readrss>
        </helpers>
    </global>
</config>