<?xml version="1.0"?>
<config>
	<modules>
		<SmartLab_Staticblock>
			<version>0.1.0</version>
		</SmartLab_Staticblock>
	</modules>
	<frontend>
		<routers>
			<staticblock>
                <use>standard</use>
                <args>
                    <module>SmartLab_Staticblock</module>
                    <frontName>staticblock</frontName>
                </args>
            </staticblock>
		</routers>
	</frontend>
	<global>
		<models>
			<staticblock>
				<class>SmartLab_Staticblock_Model</class>
				<resourceModel>staticblock_resource</resourceModel>
			</staticblock>
			<create_resource>
				<class>SmartLab_Staticblock_Model_Resource</class>
			</create_resource>
		</models>
		<resources>
            <staticblock_setup>
                <setup>
                    <module>SmartLab_Staticblock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </staticblock_setup>
            <staticblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </staticblock_write>
            <staticblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </staticblock_read>
        </resources>
	</global>
</config>