<?xml version="1.0" ?>
<config>
    <modules>
        <SmartLab_Myblog>
            <version>0.1.1</version>
        </SmartLab_Myblog>
    </modules>
    <frontend>
        <routers>
            <myblog>
                <use>standard</use>
                <args>
                    <module>SmartLab_Myblog</module>
                    <frontName>myblog</frontName>
                </args>
            </myblog>
        </routers>
        <layout>
            <updates>
                <myblog>
                    <file>myblog.xml</file>
                </myblog>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_neotheme_blog_post_index>
                <observers>
                    <myblog_observer_post_tag>
                        <class>SmartLab_Myblog_Model_Observer</class>
                        <method>hookIntoPostTag</method>
                    </myblog_observer_post_tag>
                </observers>
            </controller_action_postdispatch_neotheme_blog_post_index>
        </events>
    </frontend>

    <global>
        <models>
            <myblog>
                <class>SmartLab_Myblog_Model</class>
                <resourceModel>myblog_resource</resourceModel>
            </myblog>
            <myblog_resource>
                <class>SmartLab_Myblog_Model_Resource</class>
                <entities>
                    <custpost>
                        <table>neotheme_customer_post</table>
                    </custpost>
                    <tag>
                        <table>neotheme_blog_tag</table>
                    </tag>
                    <tagpost>
                        <table>neotheme_tag_post</table>
                    </tagpost>
                </entities>
            </myblog_resource>
        </models>
        <resources>
            <myblog_setup>
                <setup>
                    <module>SmartLab_Myblog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </myblog_setup>
            <myblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </myblog_write>
            <myblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </myblog_read>
        </resources>
        <blocks>
            <myblog>
                <class>SmartLab_Myblog_Block</class>
            </myblog>
            <neotheme_blog>
                <rewrite>
                    <post_list>SmartLab_Myblog_Block_Post_List</post_list>
                </rewrite>
            </neotheme_blog>
        </blocks>
        <helpers>
            <myblog>
                <class>SmartLab_Myblog_Helper</class>
            </myblog>
        </helpers>
    </global>
</config>