<?xml version="1.0" ?>
<config>
    <modules>
        <SmartLab_Blog>
            <version>0.1.1</version>
        </SmartLab_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>SmartLab_Blog</module>
                    <frontName>myblog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_neotheme_blog_post_index>
                <observers>
                    <blog_observer_post_tag>
                        <class>SmartLab_Blog_Model_Observer</class>
                        <method>hookIntoPostTag</method>
                    </blog_observer_post_tag>
                </observers>
            </controller_action_postdispatch_neotheme_blog_post_index>
        </events>
    </frontend>

    <global>
        <models>
            <blog>
                <class>SmartLab_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>SmartLab_Blog_Model_Resource</class>
                <entities>
                    <custpost>
                        <table>neotheme_customer_post</table>
                    </custpost>
                    <tag>
                        <table>neotheme_blog_tag</table>
                    </tag>
                    <tagpost>
                        <table>neotheme_tag_post</table>
                    </tagpost>
                </entities>
            </blog_resource>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>SmartLab_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>SmartLab_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>SmartLab_Blog_Helper</class>
            </blog>
        </helpers>
    </global>
</config>